[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
[submodule "public"]
	path = public
	url = https://github.com/swapnilrevankar/swapnilrevankar.github.io.git
	branch = main
